/**********************************************Header de la pagina*/
.todas{
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/5698853/pexels-photo-5698853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.nike{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondonike.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
/************************************************indice de las marcas*/
header{
  width: 100%;
}
header .categorias {
  width: 75%;
  margin: auto;
	display: flex;
	flex-wrap: no-wrap;
  overflow-y: scroll;
}
header .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
  text-decoration: none;
}
header .categorias a:hover{
  color: black;
}
header .categorias a.activo {
	color: #000;
}
.contenedor{
  width: 90%;
  max-width: 800px;
  margin: auto;
}
/*********************************************************grid*/
.grid {
	position: relative;
	width: 100%;
  min-height: 800px;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(25% - 20px);
}
.grid .item-contenido {
	position: relative;
  text-align: center;
}
.grid img{
  width: 150px;
  height: 150px;
  background: white;
}
.grid img:hover{
  opacity: .7;
}
.grid .item img {
/*	width: 100%;*/
	cursor: pointer;
	vertical-align: top;
}
/************************************************PARA CADA MARCA DE ZAPATOS*/
.bodyAdidas{
  background-image: url("../img/fondoAdidas2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.bodyNike{
  background-image: url("../img/fondoNike2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.adidas{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoAdidas.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.bodyConverse{
  background-image: url("../img/fondoConverse2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.converse{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoConverse.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}

.bodyDc{
  background-image: url("../img/fondoDc2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.dc{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoDc.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.bodyUnderArmor{
  background-image: url("../img/fondoUnderArmor2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.underArmor{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoUnderArmor.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.bodyEverlast{
  background-image: url("../img/fondoEverlast2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.everlast{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoEverlast.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.bodyPuma{
  background-image: url("../img/fondoPuma2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.puma{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoPuma.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.bodyVans{
  background-image: url("../img/fondoVans.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}
.vans{
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoVans2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
.mostrarProductos{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 80%;
  align-self: center;

}
.imagenProducto{
  margin: 10px;
  width: 50%;
}
.mostrarProductos img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: red;
}
.descripcionProductos{
  font-family: 'Noto Serif', serif;
  color: var(--white);
  width: 50%;
  padding: 50px;
  background-color: var(--purple-mediunm);
  border-radius: 15px;
  margin: 10px;
  background-color: rgba(51, 3, 45, 0.8);
}
.descripcionProductos input:hover{
  opacity: 1;
}
.descripcionProductos input:active{
transform: scale(.95);
border-radius: 0px;
}
.descripcionProductos input{
  width: 50%;
  height: 25px;
  font-size: 15px;
  padding: 0px;
  background-color: var(--purple-dark);
  border: 0;
  color: var(--white);
  opacity: 0.8;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 0.8;

}
/* Mediaqueries */
@media  (min-width: 630px){
  header .categorias a{
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  header .categorias a{
    font-size: 30px;
  }
}

